{{ if ( eq .Page.Params.navbar "default") }}
<header>
    <nav id="mainNavbar" data-sticky="false" class="bg-transparent border-gray-200  fixed w-full z-40 top-0 start-0 data-[sticky=true]:bg-white data-[sticky=true]:border-0">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-5 py-2.5">
            <a href="{{ .Site.Params.baseURL }}/" class="flex items-center">
                <img src="https://americanpowerandgas.com/images/apg-logo.png" class="h-10 md:h-12 mr-3" alt="American Power and Gas Logo" />
            </a>
            <div class="flex items-center lg:order-2">
                <button type="button" id="call-dropdown" data-dropdown-toggle="call-dropdown-list" class="flex justify-between rounded-full items-center me-2 px-4 py-2 text-gray-900 border-gray-100 hover:bg-gray-100 border-0"><svg class="w-[20px] h-[20px] text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path d="M7.978 4a2.553 2.553 0 0 0-1.926.877C4.233 6.7 3.699 8.751 4.153 10.814c.44 1.995 1.778 3.893 3.456 5.572 1.68 1.679 3.577 3.018 5.57 3.459 2.062.456 4.115-.073 5.94-1.885a2.556 2.556 0 0 0 .001-3.861l-1.21-1.21a2.689 2.689 0 0 0-3.802 0l-.617.618a.806.806 0 0 1-1.14 0l-1.854-1.855a.807.807 0 0 1 0-1.14l.618-.62a2.692 2.692 0 0 0 0-3.803l-1.21-1.211A2.555 2.555 0 0 0 7.978 4Z"/></svg>Call Us<svg class="ml-1 w-5 h-5 lg:w-4 lg:h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></button>
                <div id="call-dropdown-list" class="z-10 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 hidden" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(744px, 52px, 0px);" data-popper-placement="bottom">
                    <dl class="max-w-md text-gray-900 divide-y divide-gray-200 shadow-sm">
                        <div class="flex flex-col pb-3">
                            <dt class="block px-4 py-2 text-gray-800 font-semibold">Customer Service</dt>
                            <dd class="text-lg"><a href="tel:" class="flex items-center py-2 px-4 w-full text-primary-600 lg:hover:bg-transparent border-0">800.205.7491</a></dd>
                        </div>
                        <div class="flex flex-col py-3">
                            <dt class="block px-4 py-2 text-gray-800 font-semibold">Enrollment Specialist</dt>
                            <dd class="text-lg"><a href="tel:" class="flex items-center py-2 px-4 w-full text-primary-600 lg:hover:bg-transparent border-0">800.205.7491</a></dd>
                        </div>
                    </dl>
                </div>
                <button type="button" class="text-gray-900 green-gradient focus:ring-2 focus:outline-none focus:ring-secondary-50 hidden sm:flex   font-medium rounded-full text-sm px-5 py-2.5 text-center me-2">View Pricing</button>
                <button id="mobile-menu-button" data-collapse-toggle="mobile-menu-2" type="button"  class="inline-flex py-2 px-2 rounded-full items-center justify-center bg-white lg:hidden text-base font-medium text-center text-gray-900 border hover:bg-gray-100 hover:text-primary-700 border-0" aria-controls="mobile-menu-2" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                    <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
        </div>
        <div class="bg-primary-700">
            <div class="hidden justify-between items-center w-full lg:flex  lg:bg-transparent  py-3 px-4 mx-auto max-w-screen-xl md:px-6" id="mobile-menu-2">
                <ul class="flex flex-col rounded-lg font-medium lg:flex-row lg:space-x-8">
                    <li>
                        <a href="{{ .Site.Params.baseURL }}/" class="block py-2 pr-4 pl-3 text-white border-b border-gray-100 hover:text-gray-300 lg:hover:bg-transparent lg:border-0 lg:p-0" aria-current="page">Who Is APG</a>
                    </li>
                    <li>
                        <a href="{{ .Site.Params.baseURL }}/services/services-1/" class="block py-2 pr-4 pl-3 text-white border-b border-gray-100 hover:text-gray-300 lg:hover:bg-transparent lg:border-0 lg:p-0">Benefits</a>
                    </li>
                    <li>
                        <button type="button" id="header-dropdown-button" data-dropdown-toggle="nav-location-dropdown" class="flex justify-between items-center w-full py-2 pr-4 pl-3 text-white border-b border-gray-100 hover:text-gray-300 lg:hover:bg-transparent lg:border-0 lg:p-0">Locations<svg class="ml-1 w-5 h-5 lg:w-4 lg:h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></button>
                        <div id="nav-location-dropdown" class="z-10 bg-primary-700 rounded divide-y divide-gray-100 shadow  hidden" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(744px, 52px, 0px);" data-popper-placement="bottom">
                            <ul class="py-1 text-sm font-light text-gray-500 dark:text-gray-400" aria-labelledby="header-dropdown-button">
                                <li>
                                    <a href="#" class="flex items-center py-2 px-4 w-full text-white  hover:text-gray-300 lg:hover:bg-transparent border-0">Illinois</a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center py-2 px-4 w-full text-white  hover:text-gray-300 lg:hover:bg-transparent border-0">Maryland</a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center py-2 px-4 w-full text-white hover:text-gray-300 lg:hover:bg-transparent border-0">Massachusetts</a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center py-2 px-4 w-full text-white  hover:text-gray-300 lg:hover:bg-transparent lg:border-0">New Jersey</a>
                                </li>
                                 <li>
                                    <a href="#" class="flex items-center py-2 px-4 w-full text-white hover:text-gray-300 lg:hover:bg-transparent border-0">New York</a>
                                </li>
                                 <li>
                                    <a href="#" class="flex items-center py-2 px-4 w-full text-white hover:text-gray-300 lg:hover:bg-transparent border-0">Ohio</a>
                                </li>
                                 <li>
                                    <a href="#" class="flex items-center py-2 px-4 w-full text-white hover:text-gray-300 lg:hover:bg-transparent border-0">Pennsylvania</a>
                                </li>
                                 <li>
                                    <a href="#" class="flex items-center py-2 px-4 w-full text-white hover:text-gray-300 lg:hover:bg-transparent border-0">Washington D.C.</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="{{ .Site.Params.baseURL }}/pricing/pricing-1/" class="block py-2 pr-4 pl-3 text-white border-b border-gray-100 hover:text-gray-300 lg:hover:bg-transparent lg:border-0 lg:p-0">Resources/FAQ</a>
                    </li>
                    <li>
                        <a href="{{ .Site.Params.baseURL }}/team/team-1/" class="block py-2 pr-4 pl-3 text-white border-b border-gray-100 hover:text-gray-300 lg:hover:bg-transparent lg:border-0 lg:p-0">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{{ end }}

